/* Resetear los márgenes y rellenos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background-attachment: fixed;
    overflow-y: hidden;
}

/*-----------------------------------------------------------------------------------------------------------------*/

/* BARRA DE NAVEGACIÓN */
.navbar {
    background-color: #080808;
    color: #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.navbar-links {
    margin-right: 5%; /* Ajusta el margen derecho del encabezado derecho */
    font-family: 'Cinzel', serif; /* Cambia la fuente del logo a Cinzel */
    margin-top: 1.8vw;
    display: flex;
}

.navbar-links a {
    color: #E0E0E0;
    text-decoration: none;
    margin-right: 2vw;
    margin-top: 0.7vw;
    font-size: 1.5vwpx;
}

.navbar-links button {
    border: none;
    background: none;
    margin-top: 0; /* Ajusta el margen superior del botón */
    margin-bottom: 0; /* Elimina el margen inferior del botón */
}

.navbar-links button img {
    max-height: 3vh; /* Ajusta el alto máximo de la imagen */
}

.navbar-links a:hover {
    color: #999; /* Cambia el color del texto al pasar el mouse */
}

.navbar-links button:hover img {
    filter: brightness(70%); /* Oscurece ligeramente la imagen al pasar el mouse */
}

/*-----------------------------------------------------------------------------------------------------------------*/

/* MENÚ DESPLEGABLE */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 2.083vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: calc(100% + 2px); /* Ajusta la posición vertical para que esté justo debajo del botón */
    left: 0; /* Ajusta la posición horizontal para que esté alineado con el botón */
}

.dropdown-content a {
    color: black;
    padding: 2% 4%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* Cambia el color de fondo al pasar el mouse */
}

/* Mostrar el menú desplegable al pasar el ratón sobre el botón */
.dropbtn:focus + .dropdown-content,
.dropdown-content:focus-within {
    display: block; /* Muestra la lista desplegable cuando el botón tiene foco o la lista desplegable tiene un descendiente con foco */
}

.dropbtn {
    width: 2.083vw; /* Define un ancho fijo para el botón */
    height: 2.083vw; /* Define una altura fija para el botón */
    padding: 0;
    background: none;
    border: none; /* Elimina el borde del botón */
    cursor: pointer;
}

.logo {
    color: #E0E0E0;
    font-size: 1.5vw;
    margin-left: 2.5vw;
    font-family: 'Cinzel', serif;
}

.contenido {
    position: relative;
}

.contenido img {
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/machu.jpg");

}

/* BARRA INFERIOR - PIE DE PÁGINA */
.footer {
    background-color: #080808;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a:hover {
    color: #999;
}

.footer-links a {
    color: #E0E0E0;
    text-decoration: none;
    font-size: 12px;
}

.copyright {
    font-size: 12px;
}



/* Estilos adicionales */

.main-container {
    position: relative;
    height: 100vh; /* Ajustar al 100% de la altura de la ventana */
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.selection,
.form-fields {
    margin-bottom: 15px;
}

.form-fields {
    margin-bottom: 20px;
    column-count: 2; /* Divide los campos en dos columnas */
    column-gap: 20px; /* Espacio entre las columnas */
    width: 100%; /* Ancho del contenedor */
}

.form-fields input[type="text"],
.form-fields select {
    margin-bottom: 1vw; /* Espacio entre cajas de texto */
    padding: 0.5vw; /* Relleno dentro de las cajas de texto */
    border: 1px solid #ccc; /* Borde alrededor de las cajas de texto */
    border-radius: 5px; /* Bordes redondeados para las cajas de texto */
    width: 100%; /* Ancho de las cajas de texto */
    font-size: 1vw; /* Tamaño de fuente relativo */
}

.text{
    font-size: 1vw;
    color:#E0E0E0;
    font-family: 'Cinzel', serif;
}

.selection select {
    width: 100%; /* Ancho del select */
    padding: 0.5vw; /* Relleno dentro del select */
    font-size: 1vw; /* Tamaño de fuente */
    border: 1px solid #ccc; /* Borde del select */
    border-radius: 5px; /* Bordes redondeados */
    appearance: none; /* Oculta la flecha predeterminada en el select */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/><path fill="none" d="M0 0h24v24H0z"/></svg>'); /* Añade una flecha personalizada */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-position: calc(100% - 10px) center; /* Posición de la flecha */
    cursor: pointer; /* Cambia el cursor al pasar sobre el select */
}

.selection {
    display: flex;
    align-items: center;
}

.selection .text {
    margin-right: 10px; /* Ajusta el margen entre el texto y el select */
}

.label-bold {
    font-weight: bold;
}

button {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    border: 1px solid black; /* Borde negro de 1px */
    padding: 10px 20px; /* Padding interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambio de cursor al pasar el mouse */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    border-radius: 5px; /* Bordes redondeados */
}

/* Cambiar estilos al pasar el mouse */
button:hover {
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
}