/* Resetear los márgenes y rellenos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', sans-serif;
    background-attachment: fixed;
}

/*-----------------------------------------------------------------------------------------------------------------*/

/* BARRA DE NAVEGACIÓN */
.navbar {
    background-color: #080808;
    color: #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    color: #E0E0E0;
    font-size: 1.5vw;
    margin-left: 2.5vw;
    font-family: 'Cinzel', serif;
}

.contenido {
    position: relative;
}

.contenido img {
    width: 100%;
    height: auto;
}

.contenido_form {
    position: absolute;
    top: 50%; /* Ajuste para centrar verticalmente el formulario */
    left: 50%; /* Ajuste para centrar horizontalmente el formulario */
    transform: translate(-50%, -50%); /* Ajuste para centrar el formulario */
    z-index: 1; /* Asegura que el formulario esté por encima de la imagen de fondo */
    background-color:rgba(0, 0, 0, 0.1);
    font-family: 'Proxima Nova', sans-serif;
    color: #080808;
}

.grupotexto{
    color: #E0E0E0;


}
.subtitulo {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Cinzel', serif;
    font-size: 24px;
    margin-top: 5%; /* Ajuste para separar el subtítulo del contenido */
}

/*-----------------------------------------------------------------------------------------------------------------*/

/* BARRA INFERIOR - PIE DE PÁGINA */
.footer {
    background-color: #080808;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 2%;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-links {
    margin-bottom: 10px; /* Ajuste para separar los enlaces del texto de derechos de autor */
}

.footer-links a:hover {
    color: #999;
}

.footer-links a {
    color: #E0E0E0;
    text-decoration: none;
    font-size: 12px;
}

/* Estilo para el texto de derechos de autor */
.copyright {
    font-size: 12px;
}
